.area-do-aluno {

  .detail-yellow {
    width: 70px;
  }

  .item {
    background: $blued;
    height: 160px;
    @extend .col-4;
    padding: 1rem 0;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    .icone {
      width: 100%;
      margin-bottom: 10px;

      img {
        height: 50px;
      }
    }

    &:nth-child(3) {
      background: $greyd;
    }

    &:nth-child(4) {
      background: $brown;
    }
  }

  ul li {
    color: $grey;
    margin: 0.5rem 0;

    a {
      color: $brown;
    }
  }

  h3 {
    font-size: 30px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .detail {
      height: 2px;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .item {
      @include make-col(3);
      height: initial;
      font-size: 22px;

      .icone img {
        height: initial;
        margin-bottom: 1rem;
        padding-top: 2rem;
      }
    }
  }
}