.content-all {

  .content-posts {

    .img-post-blog {
      background-size: cover;
      height: 200px;

    }

    .titulo-blog-post {

      h1 {
        font-size: 19px !important;
      }
    }
  }


  @media(min-width: map-get($grid-breakpoints, lg)) {

    .content-posts {

      .img-post-blog {
        background-size: cover;
        height: 370px;
      }

      .titulo-blog-post {

        h1 {
          font-size: 25px !important;
        }
      }
    }
  }
}

.content-blog {

  .title-page {
    font-size: 19px !important;
  }

  #container {
    @include make-container;
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {

    #container{
      padding: 0;
      margin: 0;
    }
  }
}



