.contato {

  .form {
    background: $blueo;
    padding: 1rem;
    text-align: center;

    input, select, textarea {
      width: 100%;
      margin: 1rem 0;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 0.8rem;
      width: 100%;
    }

    .send{
      width: 226px;
      height: 60px;
      background: $yellow;
      color: $blued;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 1rem;
    }

    .informacoes {

      select {
        border: 2px solid #fff;

        &:hover {
          background: $blued;
        }
      }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      font-size: 16px;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
  }

  .social-header {

    a {
      color: $brown;
      font-size: 20px;

      .icon-bg {
        background: #fff;
        width: 47px;
        height: 47px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .hr{
    border-top: 2px solid #D1D1D1;
    width: 150px;
  }

  .maps iframe{
    width: 100%;
    height: 350px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {
    margin-top: 5rem;

    .maps iframe{
      height: 500px;
      margin-top: -4rem;
    }

    .form {
      padding: 2rem 3rem;
      margin-left: 7rem;
      z-index: 10;
      position: relative;
    }

    .bg-l{
      height: 456px;
      margin-top: -32rem;
      display: flex;
      align-items: center;
    }
  }
}