.ead {

  .row {

    .img-post{
      height: 217px;
      background-size: cover !important;
    }

    .box-item{
      height: 182px;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;

      .titulo{
        font-size: 26px;
      }
    }

    &:nth-child(3) {

      .box-item {
        background: $blued;
      }
    }

    &:nth-child(4) {

      .box-item {
        background: $grey;
      }
    }

    &:nth-child(5) {

      .box-item {
        background: $blueo;
      }
    }

    &:nth-child(6) {

      .box-item {
        background: $greyd;
      }
    }

    .cat h3 {
      font-size: 34px !important;
    }
  }
}