
.side-title {
  font-size: 25px;
  margin-top: 1rem;
  align-items: baseline;

  .detail-yellow {
    width: 80px;
    margin-right: 1.5rem;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    h2 {
      font-size: 60px;
    }
  }
}

.content-eventos-palestras {

  .item{
    width: 300px;
  }

  small {
    height: 70px;
  }

  .info-event {
    margin-top: -3rem;

    .date {
      font-size: 40px;
    }

    .time {
      font-size: 21px;
    }
  }

  .content-event{
    margin-top: 3rem;

    .title{
      font-size: 32px;
      font-weight: bold;
    }
  }

  .Palestras {
    background: $yellow;

    .detail-yellow {
      background: #fff !important;
      width: 54px;
      height: 2px;
    }

    .schedule {
      color: $blued !important;
    }
  }

  .Eventos {
    background: $blued;

    .detail-yellow {
      background: $yellow !important;
      width: 54px;
      height: 2px;
    }

    .schedule {
      color: #fff;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .item {
      width: 350px;

      .content-event{
        margin-top: 7rem;
      }

    }
  }
}