.faq{

  .btn-collapse{
color: $blued;
  }

  .panel-title a{
    font-size: 20px;
    color: $blued;
    text-decoration: $blued;
  }

  .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .panel-default>.panel-heading a {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
  }

  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\f062";
    font-family: 'Font Awesome 5 Free';
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 900;
    color: $brown;
  }

  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\f063";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    color: $brown;
  }
}


