footer {

  ul {
    list-style: none;

    a  {
      color: #fff;
    }


  }

  .icon-footer{
    background: #E3E3E3;
    width: 37px;
    height: 37px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blackd !important;
  }
}