.formulario-inscricao {

  .form-full {
    text-align: center;
    position: relative;

    .disabled{
      opacity: 0.5;
    }

    .custom-radio{
      margin: 1rem 0;
    }

    .field_wrapper{

      .form-group{
        margin: 1rem 0 !important;
      }
    }

    textarea{
      border: 0 !important;
      border-bottom: 1px solid #CCCCCC !important;
    }

    .custom-control{
      margin: 1.5rem 0;
    }

    .custom-control-label::before{
      background: transparent;
      border: 1px solid #CCCCCC;
      border-radius: 100%;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      background: #2FC3D8;
      border-radius: 100%;
    }


    .custom-select{
      background: transparent;
    }

    select{
      border: 0;
      border-bottom: 2px solid #E3E3E3;
      color: #9B9B9B;
    }

    .form-group {
      margin: 2rem 0;

      input {
        border: 0;
        border-bottom: 2px solid #E3E3E3;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }


    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #9B9B9B;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #9B9B9B;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #9B9B9B;
    }
  }

  .form-default{
    display: none;

    &:nth-child(1){
      display: block;
    }
  }

  .form-full fieldset:not(:first-of-type) {
    display: none;
  }

  .form-full input, .form-full textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;

    color: #2C3E50;
  }

  .form-full .action-button {
    width: 100px;
    background: $blueo;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }

  .fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #2FC3D8;
    margin-bottom: 10px;
  }

  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }

  #progressbar {
    overflow: hidden;
    text-align: center;
    counter-reset: step;
  }

  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    width: 33.33%;
    position: relative;

    @media(min-width: map-get($grid-breakpoints, md)) {
      width: 12%;
    }
  }

  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    border-radius: 100%;
    background: #E3E3E3;
    color: #CBCBCB;
    font-size: 24px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #E3E3E3;
    position: absolute;
    left: -50%;
    top: 23px;
    color: #fff;
    z-index: -1;
  }

  #progressbar li:first-child:after {
    content: none;
  }

  #progressbar li.active:before, #progressbar li.active:after {
    background: #2FC3D8;
    color: white;
  }


  h3{
    font-size: 18px !important;

    span{
      font-size: 28px !important;
    }
  }
  @media(min-width: map-get($grid-breakpoints, md)) {

    h3{
      font-size: 28px !important;

      span{
        font-size: 38px !important;
      }
    }
  }


  svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

}