@mixin transition($duration, $timing-func) {
  -webkit-transition: $duration $timing-func all;
  -moz-transition: $duration $timing-func all;
  transition: $duration $timing-func all;
}

@mixin scale($size) {
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  transform: scale($size);
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  transform: rotate($deg);
}

$bg: rgb(40, 110, 250);
$menu-bg: #fff;
$menu-hover: rgba(40, 110, 250, 0.25);
$size: 5em;
$time: 350ms;
$degree: 135deg;
$timing: ease;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.height-menu {
  height: 108px;
}

header {
  width: 100%;
  top: 0;


  .sub-menu {
    list-style: none;
    z-index: 20;

    a {
      margin: 0rem 2rem;
      color: #fff;
      z-index: 20;
    }
  }

  .social-header {

    a {
      color: $blackd;
      margin: 0rem 0.5rem;

      .icon-bg {
        background: #E3E3E3;
        width: 37px;
        height: 37px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #toggle {
    position: absolute;
    z-index: 3;
    width: $size / 1.75;
    height: $size / 1.75;
    top: -18px;
    left: 0;
    cursor: pointer;
    z-index: 40;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: $size / 25;
      margin: $size / 4 0 0 0;
      background: $blackd;
      @include transition($time, $timing);

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 60%;
        height: $size / 25;
        background: $blackd;
        @include transition($time, $timing);
      }

      &:before {
        margin: -$size / 5 0 0 0;
      }

      &:after {
        margin: $size / 5 0 0 0;

      }
    }

    &.open {
      span {
        background-color: transparent;


        @media(min-width: map-get($grid-breakpoints, xl)) {
          left: 15rem;
          position: fixed;


          &:before,
          &:after {
            width: 2%;
          }
        }

        &:before,
        &:after {
          margin: 0;
          background: $brown;
        }

        &:before {
          @include rotate($degree);
        }

        &:after {
          @include rotate(-$degree);
          background: $brown;
        }
      }
    }

    @media(min-width: map-get($grid-breakpoints, md)) {
      position: absolute;
      top: -1.3rem;
      margin-left: 0 !important;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    #toggle {
      span {
        background: #fff;

        &:before,
        &:after {
          background: #fff;
        }
      }
    }

    .toggle-black.open span {
      height: initial !important;
    }

    .toggle-black {
      span {
        background: $blackd !important;

        &:before,
        &:after {
          background: $blackd !important;

        }
      }
    }
  }

  .black-menu a {
    color: $blackd !important;
  }

  #menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: $menu-bg;
    @include scale(1.5);
    @include transition($time, $timing);
    overflow: scroll;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);


    ul {
      margin-top: 6rem !important;


      .firts-list {
        background: #4A4A4A;
        width: 211px;
        padding: 1rem 0;
        color: #fff;
        border-radius: 0;
      }
    }

    &.opened {
      visibility: visible;
      opacity: 1;
      @include scale(1);
      @include transition($time, $timing);
      z-index: 30;
    }

    span {
      &#title {
        display: block;
        line-height: $size / 5;
        margin: 0 0 $size / 10 0;
        font-size: 16px;
        color: $bg;
      }
    }

    ul {
      list-style: none;
      margin: 0 auto;

      li {
        display: block;
        width: 90%;
        margin: 0 auto $size / 10 auto;

        &:hover {
          &:after {
            width: 90%;
          }
        }

        a {
          position: relative;
          z-index: 4;
          text-transform: uppercase;
          display: block;
          width: 100%;
          margin: 1rem auto;
          color: $grey;
          text-decoration: none;
          border-radius: $size / 25;
          @include transition($time, $timing);
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            color: $blackd;
          }

          span {
            font-size: 16px;
          }

          i {
            position: absolute;
            padding: 0 $size / 4 0 0;
            font-size: $size / 2.5;
          }
        }
      }
    }

    @media(min-width: map-get($grid-breakpoints, md)) {
      width: 568px;

      #toggle {
        left: 4.5rem;
      }

      ul {

        margin: 0 auto;
        text-align: left;
        max-width: 434px;
      }
    }
  }

  #wrapper {
    width: 85%;
    margin: 0 auto;

    #logo {
      display: block;
      width: 100%;
      margin: 40px auto;
      text-align: center;

      span {
        font-size: $size / 1.5;
      }
    }

    section {
      font-size: $size / 4.5;
    }
  }
}

.modal-content {

  a {

    padding: 1rem 2rem;
    color: $blued !important;
    transition: 0.3s;

    &:hover {
      background: #CCCCCC;
    }
  }
}

.modal-backdrop {
  z-index: 0 !important;
}

.close {
  opacity: initial !important;
  font-size: 20px;


  span i {
    background: #1E346E;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 5px;
  }
}

.remodal {

  .content-curso {
    padding: 2rem;
    text-align: left;

    .link {
      border-bottom: 1px solid #CCCCCC;

      a {
        color: $blueo;
        font-weight: bold;
        display: flex;
        padding: 1.5rem;

        &:hover {
        background: rgba(0,0,0,0.1);
        }
      }
    }
  }
}

//.scroll {

//  background: #fff;
//  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
//  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
//  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.29);
//
//  .sub-menu {
//    @extend .d-none;
//  }
//
//  #toggle {
//
//    span {
//      background: #000;
//
//      &:before,
//      &:after {
//        background: #000;
//
//      }
//
//    }
//
//  }
//
//  .logo img {
//    width: 170px;
//  }
//}

