.slide-home {
  height: 280px;

  @media(min-width: map-get($grid-breakpoints, md)) {
    background: url("../img/bg-home.jpg") center center no-repeat;
    background-size: cover;
    height: 1084px;

    .detail {
      &:after {
        display: block;
        background: $yellow;
        content: "";
        width: 200px;
        height: 3px;
        margin: 1.5rem 0;
      }
    }

    h1 {
      color: #fff;
      font-weight: bold;
    }
    p {
      color: #fff;
    }
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {
    height: 850px;
  }

  .box-item {
    height: 255px;
    border: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: end;

    .info{
      margin-top: 2rem;
    }
  }

  .owl-nav {
    position: absolute;
    bottom: 0rem;
    width: 100%;

    .owl-prev {
      display: block !important;
      position: absolute;
      left: 0rem;

      &:hover {
        background: transparent;
        color: #fff;
        outline: none;
      }
    }
    .owl-next {
      display: block !important;
      position: absolute;
      left: 3.7rem;
      color: #fff;

      &:hover {
        background: transparent;
        color: #fff;
        outline: none;
      }
    }

    //@media(min-width: map-get($grid-breakpoints, lg)) {
    //  top: 13rem;
    //
    //  .owl-prev{
    //    left: -1.5em;
    //
    //    i{
    //      font-size: 1.4em;
    //    }
    //
    //  }
    //  .owl-next{
    //    right: -1.5em;
    //
    //    i{
    //      font-size: 1.4em;
    //    }
    //  }
    //}
  }
}

.collapse-mobile {

  .accordion {
    border: 0;

    .icon-link {
      padding: 5px 10px;
      @extend .bg-primary;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      margin-top: 0.5rem;
      width: 36px;
    }

    .card-header {
      padding: 0;
      border: 0;

      &:nth-of-type(3n+1) {
        background: $grey !important;
      }
      &:nth-of-type(3n+2) {
        background: $greyl !important;
      }
      &:nth-of-type(3n+3) {
        background: $greyd !important;
      }

      .card-body {
        background: url("../img/bg-collpasehome.jpg") center center no-repeat;
        background-size: cover;
        padding: 1rem 0;

      }
    }
  }
}

.potencial {

  .item {
    display: flex;
    align-items: center;
    height: 89px;
    position: relative;


    span {
      font-size: 50px;
      color: #D8D8D8;
      font-weight: bold;
    }

    h2 {
      position: absolute;
      left: 5.4rem;
      top: 2.5rem;
      color: $blued;
    }

    &:nth-child(3) {

      h2 {
        position: absolute;
        left: 4.4rem;
        top: 2rem;
      }
    }

    &:nth-child(4) {

      span {

        img {
          width: 100px;
        }
      }

      h2 {
        position: absolute;
        left: 5.4rem;
        top: 2.5rem;
      }
    }

    &:nth-child(5) {

      h2 {
        position: absolute;
        left: 4rem;
        top: 1.8rem;
      }
    }

  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .item {
      margin: initial;
      margin-bottom: 2.5rem !important;


      h2 {
        position: absolute;
        left: 4.4rem !important;
        top: 2rem !important;
        font-size: 33px;
      }
    }

    img {
      width: 374px;
    }
  }
}

.detail-bg {
  width: 100%;
  display: none;
  background: #FAFAFA;

  @media(min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: -34rem;
    height: 509px;
    display: block;
  }
}

.grow {
  @media(min-width: map-get($grid-breakpoints, md)) {

    iframe {
      height: 526px !important;
    }
  }
}

.newsletter {

  form {

    input {
      width: 100%;
      padding: 0.6rem 0;
      border: none;
      border: 2px solid #d4d4d4;
      padding-left: 0.5rem;
      margin: 0.5rem 0;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $grey;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $grey;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $grey;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $grey;
    }

    label {
      display: flex;
      align-items: center;

      .send {
        background: transparent;
        border: none;
      }
    }
  }
}

.info-title{

  h2{

    font-size: 1.2em;

  }

}

.subscribe {

  .owl-nav {
    position: absolute;
    top: 7rem;
    right: 4rem;

    .owl-prev {
      margin-right: 1rem;
    }
  }

  .owl-dots {
    display: none;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .owl-nav {
      position: absolute;
      bottom: 3rem;
      top: initial;
      right: 45rem;

      .owl-prev {
        margin-right: 1rem;
      }
    }
  }
  @media(min-width: map-get($grid-breakpoints, xl)) {

    .owl-nav {
      right: 56rem;
    }
  }
}

.blog-home {
  padding: 3rem 0 0rem;

  .desc {
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
    margin-bottom: 3rem;

    @media(min-width: map-get($grid-breakpoints, md)) {
      @include make-col(7.5);
    }
  }

  .owl-dots{
    display: block;
  }

  a {
    text-decoration: none;
  }

  .box-all {
    margin-bottom: 2rem;

    .box-image {

      .img-post-blog {
        @extend .col-12;
        height: 250px;

        @media(min-width: map-get($grid-breakpoints, md)) {
          height: 350px;
        }
      }
    }

    .box-info {
      align-self: center;

      .data {
        color: #919191;
      }

      .titulo-blog-post {
        padding-bottom: 0.5rem;
        margin: 1rem 0 0;
        @extend .col-12;

        .date {
          text-transform: capitalize;
        }

        span {
          font-size: 20px !important;
          font-weight: bold;
        }
      }

      .conteudo-blog-post {
        margin: 0rem 0 1rem;
        @extend .col-12;
      }

      .info {
        display: flex;
        text-align: right;
        @extend .col-12;

        .data {
          margin: 0 0 0 auto;
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
          font-size: 0.775em;

          i {
            font-size: 1.4em;
          }
        }
      }
    }
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {

    .box-all {
      @include make-col(6);

      .box-image {
        @include make-col(12);

        .img-post-blog {
          height: 250px;
        }
      }
    }
  }
}
