.institucional {

  .list-estrutura{
    list-style: none;
    font-size: 20px;

    li{
      margin: 1rem 0;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .institucional-text{

    }

    .historico {
      padding-left: 7rem;
    }

    .container-institucional{
      padding: 0rem 7rem;
    }
  }
}