.monografias {

  h3 {
    font-size: 34px;
  }

  .form-search {

    span {
      font-size: 24px;
    }

    select {
      border: 2px solid $grey;
      color: $grey;
      padding: 1rem;
      background-color: transparent;
      width: 100%;
      margin: 1rem 0;
      outline-color: $greyd;

      option {
        color: $brown;

      }
    }

    input {
      border: none;
      border-bottom: 1px solid $light;
      padding-left: 10px;
      padding-bottom: 10px;
      width: 100%;
      margin: 1rem 0;
    }

    button {
      background: transparent;
      color: $greyd;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;

      i {
        color: $yellow;
        margin-left: 0.5rem;
      }
    }
  }

  table {
    border: 0;

    th {
      border-top: 0;
    }

    tbody tr td {
      align-items: center;


      &:nth-child(1) {
        white-space: normal;
      }
    }
  }

  .page-item.active .page-link{
    background: $brown;
    border: 0;
  }
}