.single {

  ul {
    list-style: none;
  }

  .img-single {
    margin-bottom: -6rem;
    z-index: 10;
  }
}

.info-course {
  margin-top: 8rem;

  ol, ul{
    padding-left: 1rem;
  }

  .btn {
    border-radius: initial !important;
    margin: 1.5rem 0;
  }

  .focus-accordion {
    background: $brown !important;
    color: #000;
    font-weight: bold;
    align-items: center;

    span {
      font-weight: bold;

      &:nth-child(2) {
        font-size: 1.5em;
      }
    }
  }

  .card-body {
    padding-top: 0;
  }

  .collapsed {
    background: $blued !important;

  }
}

@media(min-width: map-get($grid-breakpoints, md)) {

  .single {

    .left-single {

      span {
        font-size: 36px;
      }

      h2 {
        font-size: 40px;
      }
    }
  }
}

.certificado-y {
  width: 127px;

  @media(min-width: map-get($grid-breakpoints, md)) {
    width: 190px;
  }
}

.cards-step {

  .card {

    .card-body h2 {
      font-size: 24px !important;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .card {
      transition: transform .2s; /* Animation */
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: initial;
        -webkit-filter: initial; /* Safari 6.0 - 9.0 */
        filter: initial;
        transform: scale(1.2);
        border: none !important;
        -webkit-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.18);
      }
    }
  }
}

.structure {

  .owl-nav {
    color: $greyd;
    padding-top: 2rem;
    justify-content: center;
    display: flex;

    .owl-prev{
      outline: none;
      margin-right: 3rem;
    }

    .owl-next{
      outline: none;
      margin-left: 3rem;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .owl-nav {
      position: absolute;
      top: 1rem;
      left: -8rem;

      .owl-next{
        &:hover{
          background: transparent;
        }
      }

      .owl-prev{
        outline: none;
        margin: 0;

        &:hover{
          background: transparent;
        }
      }
    }
  }
}

.remodal-single{

  input{
    width: 100%;
    border: 0 !important;
    border-bottom: 1px solid #CCCCCC !important;
    margin: 1rem 0;
    border-radius: 0;
  }

  .send-single{
    width: 226px;
    height: 60px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 3rem;
    border: 0 !important;
    cursor: pointer;
  }

  a{
    color: $greyd;
  }

  .disabled{
    opacity: 0.4;
  }

  h3{
    font-size: 18px !important;

    span{
      font-size: 28px !important;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    input{
      margin: 0;
    }

    h3{
      font-size: 28px !important;

      span{
        font-size: 38px !important;
      }
    }
  }

  svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

}