.single-post{

  .img-post{
    height: 350px;
  }

  .titulo-single-post h1{
    font-size: 25px !important;
  }

  .date{
    font-size: 20px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {
    padding-top: 13rem;

    .titulo-single-post h1{
      font-size: 46px !important;
    }
  }
}