.single-monografia{

  h3{
    font-size: 32px;
  }

  input{
    height: 50px;
    padding-left: 0.5rem;
  }

  button{
    padding: 0rem 1rem;
    height: 50px;
  }

  .autor{
    font-size: 20px;

    span{
      font-size: 26px;
    }
  }
}