.videos {
background: url("../img/bg-videos.png") center center no-repeat;
background-size: cover;

  @media(min-width: map-get($grid-breakpoints, md)) {
    padding-top: 17rem;
  }

  .owl-nav{
    display: block !important;
    position: absolute;
    right: 13rem;
    top: -3rem;
  }

  .owl-videos{
    font-size: 21px;
    


    iframe{
      height: 340px;
      width: 100%;
    }
  }
}