@import "../../source/components/bootstrap/scss/bootstrap";
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css');
@import url('https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css');

$blackd: #262626;
$brown: #B29551;
$yellow: #FDE017;
$yellowl: #F8D61C;
$blued: #1E346E;
$blueo: #363C56;
$grey: #888888;
$greyd: #4A4A4A;
$greyl: #C4C4C4;
$light: #E3E3E3;

body {
  font-family: 'Open Sans', sans-serif;
  color: #666666;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 6px;
  cursor: pointer;
}

@media(min-width: map-get($grid-breakpoints, xs)) {

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 0.975em;
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }
}

.bg-l{
  background: #E3E3E3 !important;
}

.color-greyl{
  color: $greyl;
}

.color-greyd {
  color: $greyd;
}

.color-blueb{
  color: #2FC3D8;
}

.color-brown {
  color: $brown;
}

.color-yellow {
  color: $yellow;
}

.color-blackd {
  color: $blackd;
}

.color-blued {
  color: $blued;
}

.dot-mba{
  color: #21439b;
}

.dot-especializacao{
  color: $yellow;
}

.dot-atualizacao{
  color: #B29551;
}

.dot-difusao{
  color: #866a43;
}

.bg-blued {
  background: $blued;
}

.bg-blueo {
  background: $blueo;
}

.bg-brown {
  background: $brown;
}

.bg-yellow {
  background: $yellow;
}

.bg-grey {
  background: #E3E3E3 !important;
}

.detail-yellow {
  width: 140px;
  height: 4px;
  background: $yellow;
  margin: 3rem 0;
}

.bg-black {
  background: $blackd;
}

.bg-greyd {
  background: $greyd;
}

.hover-yellow {
  transition: 0.3s;

  &:hover {
    background: $yellow !important;
    color: #fff;
  }
}

.hover-blue {
  transition: 0.3s;

  &:hover {
    background: $blued !important;
    color: #fff;
  }
}

.btn-y {
  background: $yellowl;
  padding: 1rem 4rem;
  color: $blueo;
  font-weight: bold;
  width: fit-content;
}

.m-r-auto {
  margin: 0 0 0 auto;
}

.btn-by {
  padding: 1rem 0rem;
  border: 2px solid $yellow;
  font-weight: bold;
  width: 255px;
  display: flex;
  justify-content: center;
}

.pt-menu {
  padding-top: 2rem;
}

.owl-dots{
  margin-top: 1rem;
}

.owl-dots{
  margin-top: 1rem;
}

@media(min-width: map-get($grid-breakpoints, md)) {
  .pt-menu {
    padding-top: 15rem;
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {
  .position-md-absolute {
    position: absolute;
  }
}

.d-grid {
  display: grid;
}

a {
  text-decoration: none;
}

img {
  @extend .img-fluid;
}

.bg-light{
  background: #F5F5F5 !important;
}

.d-nonee {
  display: none;
}


@import "404";

//REMODAL
@import "remodal-default-theme";

@import "remodal";

//PÁGINA INSTITUCIONAL
@import "institucional";

//PÁGINA FAQ
@import "faq";

//PÁGINA VIDEOS
@import "videos";

//PÁGINA FORMULARIO
@import "formulario";

//SINGLE MONOGRAFIA
@import "template-monografia";

//PÁGINA MONOGRAFIA
@import "monografias";

//PÁGINA EAD
@import "ead";

// CAROUSEL
@import 'owl.carousel';

//CAROUSEL
@import 'owl.theme.default.min';

//PÁGINA ANIMATE
@import 'animate';

//IMPORT LIGHTBOX
@import 'lightbox';

//SINGLE CURSOS
@import 'single-cursos';

//EVENTOS E PALESTRAS
@import 'eventos-e-palestras';

//ÁREA DO ALUNO
@import "area-do-aluno";

//BLOG
@import "blog";

//CONTATO
@import "contato";

//SINGLE
@import "single";

//HEADER
@import 'header';

//HOME
@import 'home';

//FOOTER
@import 'footer';


